.stack-work/
purescript-python.cabal
impurescript-psdiana.cabal
psdiana

*~
.idea/
stack.yaml.lock
# for making statically built libs
pspy-blueprint-*.zip
psdiana-*.zip

.DS_Store
stack.yaml.lock
.DS_Store
pspy-blueprint
.psc-ide-port
output/
# purescript
passing/bower_components/
passing/node_modules/
passing/.pulp-cache/
passing/output/
passing/generated-docs/
passing/.psc-package/
passing/.psc*
passing/.purs*
passing/.psa*
passing/.spago

# purescript-python
passing/.pure-py/
passing/passing
passing/**.src.py
